.pointer {
  cursor: pointer
}

.fontMaginia {
  font-family: 'Maginia', sans-serif;
}

.brandFont {
  color: #DBB385;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: 600;
  font-size: 1.2rem;
}